@import url('https://fonts.googleapis.com/css2?family=Licorice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
    --background-color: #0b1a5a;
    --primary-color: #00c3ff;
    --secondary-color: #ffffff;
    --hover-color: #dadada;

    --fsz-80: 80px;
    --fsz-48: 48px;
    --fsz-14: 18px;
    --fsz-24: 24px;

    --anton: 'Anton', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --licorice: "Licorice", cursive;

    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
}

/* Header & Navigation START */

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 30px 40px 0 40px;

    & a {
        color: var(--secondary-color);
        text-decoration: none;
        font-family: var(--anton);
        letter-spacing: 1px;
        font-size: 36px;
        opacity: 0.8;

        &:hover {
            color: var(--hover-color);
        }
    }
}

.nav-bugatti-icon svg {
    height: 150px;
    width: 150px;
}

/* Header & Navigation END */

/* Intro START */
.intro {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.intro-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-heading {
    font-family: var(--anton);
    font-size: 300px;
    letter-spacing: 5px;
}

.intro-topheading {
    transform: rotate(-10deg);
    font-size: var(--fsz-80);
    font-family: var(--licorice);
    font-weight: 500;
    letter-spacing: 5px;
    color: var(--secondary-color);
    position: absolute;
    z-index: 2;
    top: 250px;
}

.intro-image {
    position: absolute;
    transform: scale(1.2);
    filter: blur(2px);
    transition: all 0.3s ease;

    &:hover {
        filter: none;
    }
}

/* Intro END */

/* Hero START */
.hero {
    margin-top: 200px;
}

.hero-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.hero-left {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.hero-left-img img,
.hero-right-img img {
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.hero-left-img img {
    height: 440px;
    width: 440px;
    filter: none;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.hero-right-img img {
    height: 440px;
    width: 250px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.hero-title {
    color: var(--primary-color);
    font-size: var(--fsz-80);
    font-family: var(--anton);
    text-align: right;
    transition: all 0.3s ease;

    &:hover {
        color: var(--secondary-color);
    }
}

.hero-subtitle {
    color: var(--secondary-color);
    font-size: var(--fsz-14);
    font-family: var(--poppins);
    text-align: right;
}

.button-dad {
    margin-top: 70px;
    display: flex;
    justify-content: end;
}

.button {
    background-color: var(--secondary-color);
    padding: 5px 5px;
    border-radius: 50px;
    font-size: var(--fsz-14);
    font-family: var(--poppins);
    color: var(--background-color);
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    translate: all 0.3s ease;

    &:hover {
        background-color: var(--hover-color);
        animation: button 0.7s ease infinite;
    }

    &:active {
        background-color: var(--secondary-color);
        transform: translateY(3px);
    }
}

@keyframes button {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(4px);
    }

    100% {
        transform: translateY(0)
    }
}

.button svg {
    transform: rotate(90deg);
    color: var(--secondary-color);
    background-color: var(--background-color);
    border-radius: 50px;
    padding: 5px;
}

/* Hero END */

/* Bugatti's Design START */
.design {
    margin-top: 200px;
}

.design-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 180px;
}

.design-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.design-title {
    color: var(--primary-color);
    font-family: var(--anton);
    font-size: var(--fsz-80);
    transition: all 0.3s ease;

    &:hover {
        color: var(--secondary-color);
    }
}

.design-subtitle {
    color: var(--secondary-color);
    font-size: var(--fsz-14);
    font-family: var(--poppins);
    text-align: center;
}

.design-image img {
    border-radius: 150px;
    height: 520px;
    box-shadow: var(--box-shadow);
    width: 300px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

/* Bugatti's Design END */

/* Legend START */
.legend {
    margin-top: 200px;
}

.legend-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 180px;
}

.legend-right img {
    height: 535px;
    width: 510px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    object-position: 0 -150px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.legend-title {
    color: var(--primary-color);
    font-size: var(--fsz-80);
    font-family: var(--anton);
    line-height: 1.1;
    margin-top: 35px;
    transition: all 0.3s ease;

    &:hover {
        color: var(--secondary-color);
    }
}

.legend-subtitle {
    color: var(--secondary-color);
    font-size: var(--fsz-14);
    font-family: var(--poppins);
    margin-top: 20px;
}

.button-mom {
    margin-top: 70px;
    display: flex;
    justify-content: start;
}

/* Legend END */

/* Bugatti's side START */
.side {
    margin-top: 200px;
}

.side-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-top img {
    height: 300px;
    width: 900px;
    object-fit: cover;
    border-radius: 150px;
    box-shadow: var(--box-shadow);
    object-position: 0 -200px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.side-title {
    color: var(--secondary-color);
    font-size: 140px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    letter-spacing: 40px;
    line-height: 1.1;
    margin-top: 35px;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.2);
    }
}

/* Bugatti's side END */

/* Models START */
.models {
    margin-top: 200px;
}

.models-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 130px;
}

.models-information-first,
.models-information-second,
.models-information-third {
    transition: all 0.3s ease;
    filter: blur(2px);

    &:hover {
        transform: scale(1.2);
        filter: none;
    }
}

.models-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 90px;
}

.models-heading {
    font-size: var(--fsz-80);
    color: var(--primary-color);
    line-height: 1.1;
    font-family: var(--anton);
    margin-bottom: 20px;
    transition: all 0.3s ease;

    &:hover {
        color: var(--secondary-color);
    }
}

.models-bottom {
    color: var(--secondary-color);
    font-family: var(--poppins);
    display: flex;
    flex-direction: row;
    gap: 70px;

    & .models-title,
    .models-subtitle {
        font-weight: 800;
    }

    & .models-info {
        line-height: 1.3;
        margin-top: 5px;
    }
}

.models-right {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.models-image img {
    height: 270px;
    width: 270px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

/* Models END */

/* Comfort START */
.comfort {
    margin-top: 200px;
}

.comfort-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.comfort-top {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.comfort-left img,
.comfort-right img {
    border-radius: 20px;
    height: 270px;
    width: 350px;
    box-shadow: var(--box-shadow);
    object-fit: cover;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.comfort-center img {
    border-radius: 20px;
    height: 270px;
    width: 440px;
    box-shadow: var(--box-shadow);
    object-fit: cover;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.comfort-right img {
    object-position: 0 -200px;
}

.comfort-bottom {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.comfort-text-left {
    color: var(--primary-color);
    font-size: var(--fsz-80);
    font-family: var(--anton);
    line-height: 1.1;
    width: 100%;
    transition: all 0.3s ease;

    &:hover {
        color: var(--secondary-color);
    }
}

.comfort-text-right {
    color: var(--secondary-color);
    font-family: var(--poppins);
    font-size: var(--fsz-14);
    text-align: right;
    width: 700px;
}

/* Comfort END */

/* Speed START */
.speed {
    margin-top: 200px;
}

.speed-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.speed-left img {
    height: 450px;
    width: 300px;
    box-shadow: var(--box-shadow);
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.speed-center img {
    height: 250px;
    width: 450px;
    box-shadow: var(--box-shadow);
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.speed-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.speed-title {
    color: var(--primary-color);
    font-size: var(--fsz-80);
    font-family: var(--anton);
    line-height: 1.1;
    transition: all 0.3s ease;

    &:hover {
        color: var(--secondary-color);
    }
}

.speed-image img {
    object-position: 0 -75px;
    box-shadow: var(--box-shadow);
}

.speed-right {
    color: var(--secondary-color);
    font-size: var(--fsz-14);
    font-family: var(--poppins);
    line-height: 1.1;
    text-align: right;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Speed END */

/* Contact START */
.contact {
    margin-top: 200px;
}

.contact-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 30px;
    animation-name: png;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes png {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-title {
    font-size: var(--fsz-80);
    color: var(--primary-color);
    font-family: var(--anton);
    transition: all 0.3s ease;

    &:hover {
        color: var(--secondary-color);
    }
}

.contact-subtitle {
    font-size: var(--fsz-14);
    color: var(--secondary-color);
    font-family: var(--poppins);
}

.contact-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 30px;
}

.contact-icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    animation-name: png;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes png {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.contact-icons:hover {
    filter: blur(1.7px);
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
        filter: none
    }
}

.con-icon {
    background-color: var(--secondary-color);
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-text {
    color: var(--secondary-color);
    font-size: var(--fsz-14);
    font-family: var(--poppins);

    & .icon-title {
        font-weight: 600;
    }
}

.contact-right img {
    height: 450px;
    width: 600px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    animation-name: png;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes png {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Contact END */

/* Outro START */
.outro {
    margin-top: 200px;
}

.outro-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    animation-name: png;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes png {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.outro-topheading {
    transform: rotate(-7deg);
    font-size: var(--fsz-80);
    font-family: var(--licorice);
    font-weight: 500;
    letter-spacing: 5px;
    color: var(--secondary-color);
    position: absolute;
    left: 120px;
    z-index: 2;
}

.outro-heading {
    color: var(--primary-color);
    font-size: 200px;
    font-family: var(--anton);
    letter-spacing: 5px;
}

.outro-subtitle {
    color: var(--secondary-color);
    font-size: var(--fsz-14);
    font-family: var(--poppins);
    width: 700px;
}

.outro-buttons {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.button-bro {
    margin-top: 70px;
    display: flex;
    justify-content: end;
    animation-name: png;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes png {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.outro-right {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.outro-image img {
    position: absolute;
    right: 50px;
    height: 600px;
    z-index: 2;
    animation-name: png;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes png {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* Outro END */

/* Responsiv 1200px START */
@media (max-width: 1200px) {
    :root {
        --background-color: #0b1a5a;
        --primary-color: #00c3ff;
        --secondary-color: #ffffff;
        --hover-color: #dadada;

        --fsz-80: 60px;
        --fsz-48: 48px;
        --fsz-14: 14px;
        --fsz-24: 24px;

        --anton: 'Anton', sans-serif;
        --poppins: 'Poppins', sans-serif;
        --licorice: "Licorice", cursive;

        --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    }

    .intro,
    .hero,
    .design,
    .legend,
    .side,
    .models,
    .comfort,
    .speed,
    .contact,
    .outro {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* nav & intro responsive START */
    .nav-container a {
        font-size: var(--fsz-24);
    }

    .intro-heading {
        font-size: 150px;
    }

    .intro-image {
        transform: scale(0.9);
    }

    .nav-bugatti-icon svg {
        height: 100px;
        width: 100px;
    }

    /* nav & intro responsive START */

    /* hero Responsive START */
    .hero-container {
        margin: 0 auto;
        width: 100%;
        gap: 70px;
    }

    .hero-left {
        gap: 20px;
    }

    .hero-left-img img {
        height: 350px;
        width: 350px;
    }

    .hero-right-img img {
        height: 350px;
        width: 200px;
    }

    /* hero Responsive END */

    /* Bugatti's design START */
    .design-container {
        gap: 80px;
    }

    .design-image img {
        height: 400px;
        width: 280px;
        object-fit: cover;
        object-position: bottom;
    }

    .legend-right img {
        height: 450px;
        width: 470px;
    }

    .side-top img {
        height: 280px;
        width: 850px;
    }

    .side-title {
        letter-spacing: 30px;
    }

    .comfort-center img {
        height: 250px;
        width: 400px;
    }

    .comfort-left img,
    .comfort-right img {
        height: 250px;
        width: 320px;
    }

    .contact-right img {
        height: 320px;
        width: 450px;
    }


    .comfort-center img {
        height: 200px;
        width: 350px;
    }


    .comfort-left img,
    .comfort-right img {
        height: 200px;
        width: 300px;
    }

    .speed-left img {
        height: 400px;
        width: 300px;
    }

    /* Bugatti's design END */
}

/* Responsiv 1200px END */


/* Responsiv 768px START */
@media (max-width: 768px) {}

/* Responsiv 768px END */


/* Responsiv 480px START */
@media (min-width: 480px) {}

/* Responsiv 480px END */